.git/
.gitattributes
.gitignore

target/
build/
*.class

.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache/
nbproject/
nbbuild/
.nb-gradle/

Dockerfile
.dockerignore
docker-compose*.yml

.env
*.env

README.md
HELP.md
LICENSE
src/main/resources/docs
src/main/resources/http

*.log